<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://fonts.googleapis.com/css?family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="static/assets/css/style.css" />
    <title>Insert data</title>
  </head>

  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <form action="/adddrone" method="POST">
        <div class="form-group">
          <label for="id">drone id *</label>
          <input
            type="number"
            class="form-control"
            placeholder="drone id"
            name="id"
            required
          />
        </div>
        <div class="form-group">
          <label for="name">name *</label>
          <input
            type="text"
            class="form-control"
            placeholder="drone name"
            name="name"
            required
          />
        </div>
        <div class="form-group">
          <label for="fc">flight controller *</label>
          <input
            type="text"
            class="form-control"
            placeholder="flight controller"
            maxlength="256"
            name="fc"
            required
          />
        </div>
        <div class="form-group">
          <label for="esc">esc *</label>
          <input
            type="text"
            class="form-control"
            placeholder="esc"
            maxlength="256"
            name="esc"
            required
          />
        </div>
        <div class="form-group">
          <label for="cam">camera *</label>
          <input
            type="text"
            class="form-control"
            placeholder="notes"
            maxlength="256"
            name="cam"
            required
          />
        </div>
        <button type="submit" class="btn btn-dark">submit</button>
      </form>
      <br />
    </div>
    {% include 'footer.html' %}
  </body>
</html>
