<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Insert data</title>
  </head>

  <body>
    <div class="container">
      {% include 'navbar.html' %}
      <form action="/adddrone" method="POST">
        <div class="form-group">
          <label for="id">drone id *</label>
          <input
            type="number"
            class="form-control"
            placeholder="drone id"
            name="id"
            required
          />
        </div>
        <div class="form-group">
          <label for="name">name *</label>
          <input
            type="text"
            class="form-control"
            placeholder="drone name"
            name="name"
            required
          />
        </div>
        <div class="form-group">
          <label for="fc">flight controller *</label>
          <input
            type="text"
            class="form-control"
            placeholder="flight controller"
            maxlength="256"
            name="fc"
            required
          />
        </div>
        <div class="form-group">
          <label for="esc">esc *</label>
          <input
            type="text"
            class="form-control"
            placeholder="esc"
            maxlength="256"
            name="esc"
            required
          />
        </div>
        <div class="form-group">
          <label for="cam">camera *</label>
          <input
            type="text"
            class="form-control"
            placeholder="notes"
            maxlength="256"
            name="cam"
            required
          />
        </div>
        <button type="submit" class="btn btn-dark">submit</button>
      </form>
    </div>
  </body>
</html>
