<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Flight log v {{ version }}</title>
  </head>

  <body>
    <div class="container">
      {% include 'navbar.html' %}

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Drone name</th>
            <th>Flight controller</th>
            <th>ESC</th>
            <th>FPV camera</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for row in rows %}
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
