<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Flight log v {{ v }}</title>
  </head>

  <body>
    <div class="container">
      {% include 'navbar.html' %}

      <table class="table table-striped">
        <thead>
          <tr>
            <th>All flights</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for row in rows %}
            <td>{{ row }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Flights 2019</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for row in data2019 %}
            <td>{{ row }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Flights 2018</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for row in data2018 %}
            <td>{{ row }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
