<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Flight log v0.1</title>
  </head>

  <body>
    <div class="container">
      {% include 'navbar.html' %}
      <form action="/insert" method="POST">
        <div class="form-group">
          <label for="date">date *</label>
          <input
            type="date"
            class="form-control"
            placeholder="date"
            name="date"
            required
          />
        </div>
        <div class="form-group">
          <label for="place">place *</label>
          <input
            type="text"
            class="form-control"
            placeholder="place"
            name="place"
            required
          />
        </div>
        <div class="form-group">
          <label for="droneid">drone id *</label>
          <input
            type="number"
            class="form-control"
            placeholder="drone id"
            maxlength="2"
            name="droneid"
            required
          />
        </div>
        <div class="form-group">
          <label for="lipo">lipo *</label>
          <input
            type="number"
            class="form-control"
            placeholder="lipo"
            maxlength="2"
            name="lipo"
            required
          />
        </div>
        <div class="form-group">
          <label for="notes">notes *</label>
          <input
            type="text"
            class="form-control"
            placeholder="notes"
            maxlength="256"
            name="notes"
            required
          />
        </div>
        <button type="submit" class="btn btn-dark">submit</button>
      </form>
    </div>
  </body>
</html>
